/CustomDataGridView.Win/bin
/CustomDataGridView.Win/obj
/packages
/.vs
/CustomDataGridView.Lib/bin
/CustomDataGridView.Lib/obj
/CustomDataGridView.Lib/nugetPackagePush.cmd
/CustomDataGridView.Lib/nugetPackagePushV2.cmd
/CustomDataGridView.Lib/nugetPackagePushV3.cmd
